.hero-section{
    background-image: url("../images/hero.jpg");
    background-color: red;
}

.cart-container{
    position: relative;
    cursor: pointer;
    text-underline: none;
}
.cart-container span{
    position: absolute;
    top: -8px;
    right: -12px;
    background-color: blue;
    width: 20px;
    height: 20px;
    color: white;
    padding: 2px 4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

a{
    text-underline: none;
}
