.overlay{
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toastify {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.toastify__close {
    color: #666;
    font-size: 16px;
}

.toastify__content {
    padding: 16px;
}