<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>dashboard.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>controller.BookServlet</servlet-class>
        <multipart-config>
            <max-file-size>2097152</max-file-size> <!-- maximum file size allowed (in bytes) -->
            <max-request-size>4194304</max-request-size> <!-- maximum request size allowed (in bytes) -->
            <file-size-threshold>0</file-size-threshold> <!-- size threshold after which files will be written to disk -->
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    
    
    
    <context-param>
        <param-name>DB_URL</param-name>
        <param-value>jdbc:mysql://localhost:3306/bookstore</param-value>
    </context-param>

    <context-param>
        <param-name>DB_DRIVER</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>

    <context-param>
        <param-name>DB_USERNAME</param-name>
        <param-value>root</param-value>
    </context-param>

    <context-param>
        <param-name>DB_PASSWORD</param-name>
        <param-value>root</param-value>
    </context-param>

    <context-param>
        <param-name>image-upload</param-name>
        <param-value>webapp/</param-value>
    </context-param>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
</web-app>